a{
  text-decoration: none;
}

.navbar-nav {
  text-decoration: none;
  gap: 50px;
  a svg {
    font-size: 2rem;
  }
  nav-link .active{
    color: inherit;
  }
  .active-navlink{
    color: white;
  }
  .navItem{
    padding-left: 15px;
    input{
      width: 70%;
      height: 1%;
    }
    svg{
      font-size: 1.5rem;
      cursor: pointer;
      margin: auto;
    }
    align-items: center;
    display: flex;
    flex-direction: row;
    text-align: center;
  }
}

@media screen and (max-width: 992px) {
  .navbar-nav {
    flex-direction: row;
  }
}
