a{
  text-decoration: none;
}

.navbar-nav {
  text-decoration: none;
  gap: 50px;
  a svg {
    font-size: 2rem;
  }
  nav-link .active{
    color: inherit;
  }
  .active-navlink{
    color: white;
  }
}

@media screen and (max-width: 992px) {
  .navbar-nav {
    flex-direction: row;
  }
}
